celery
pymongo
paramiko
https://github.com/ouinformatics/dockertask/zipball/master
https://github.com/{{cookiecutter.queue_tasks_org}}/{{cookiecutter.queue_tasks_repo}}/zipball/{{cookiecutter.queue_tasks_branch}}
