### Celery Worker Requirements
celery==3.1.22
pymongo==3.2.1

### Example Tasks Github REPO - Example Task which adds two numbers or concatenates two strings
#### Requirements add for cybercomq 
paramiko==1.17.6
requests==2.20.0
https://github.com/ouinformatics/dockertask/zipball/master
#### Cybercomq
https://github.com/cybercommons/cybercomq/zipball/master

