<div id="task_submit">
  <div class="row">
    <div class="col-sm-9 form-group">
            <label for="sample-type">Sample Type</label>
            <label class="radio-inline active">
              <input type="radio" name="sample-type" value="metagenome" checked="">Metagenome
            </label>
            <label class="radio-inline">
              <input type="radio" name="sample-type" value="amplicon">Amplicon
            </label>
        </div>
    </div>
 <div id="hide_metagenomic">
  <form class="col-sm-12 form1" id="task_form" onsubmit="return task_submit();">
      <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
          <input type="hidden" name="sample-type" value="metagenome"/>
     </div>
    <div class="row">
        <div class="col-sm-4 form-group required">
          <label class="control-label" for="sample_name">Sample Name</label>
          <input id="sample_name" type="text" class="form-control input-sm" name="sample_name" placeholder="Name" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control input-sm" name="latitude" placeholder="Latitude" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control input-sm" name="longitude" placeholder="Longitude" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 form-group">
            <label  for="corrosion">In Situ Corrosion Level </label>&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="corrosion" value="High">High
            </label>
            <label class="radio-inline">
              <input type="radio" name="corrosion" value="Moderate">Moderate
            </label>
            <label class="radio-inline">
              <input type="radio" name="corrosion" value="Low">Low
            </label>
            <label class="radio-inline active">
              <input type="radio" name="corrosion" value="Unkown" checked="">Unknown
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 form-group">
            <label for="corrosion_rx">Corrosion Treatment </label>&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="corrosion_rx" value="Yes">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="corrosion_rx" value="No">No
            </label>
            <label class="radio-inline active">
              <input type="radio" name="corrosion_rx" value="Unkown" checked="">Unknown
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-group">
          <label for="nitrate">Nitrate</label>
          <input type="number" size="10" class="form-control input-sm" min="0" step="1" name="nitrate" placeholder="Nitrate (nM)" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="sulfate">Sulfate</label>
          <input type="number" class="form-control input-sm" min="0" step="1" name="sulphate" placeholder="Sulfate (nM)" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="phosphate">Phosphate</label>
          <input type="number" class="form-control input-sm" min="0" step="1" name="phosphate" placeholder="Phosphate (nM)" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="temp">Temperature</label>
          <input type="number" class="form-control input-sm" min="0" step="1" name="temp" placeholder="Temperature (C)" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="biomass">In Situ Biomass </label>&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="biomass" value="High">High
            </label>
            <label class="radio-inline">
              <input type="radio" name="biomass" value="Moderate">Moderate
            </label>
            <label class="radio-inline">
              <input type="radio" name="biomass" value="Low">Low
            </label>
            <label class="radio-inline active">
              <input type="radio" name="biomass" value="Unkown" checked="">Unknown
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 form-group">
          <label for="oil_water">Oil:Water</label>
          <input type="number"  class="form-control input-sm" min="0" step="1" name="oil_water" placeholder="Oil:Water (Ratio)" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="acetate">Acetate</label>
          <input type="number"  class="form-control input-sm" min="0" step="1" name="acetate" placeholder="Acetate (nM)" >
        </div>
        <div class="col-sm-2 form-group">
          <label for="propionate">Propionate</label>
          <input type="number" size="10" class="form-control input-sm" min="0" step="1" name="propionate" placeholder="Propionate (nM)" >
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group" style="padding-top:5px;">
        <label for="fgs">Functional Gene Search</label>

        <input id="visual_fgs" type="text" class="form-control input-sm col-sm-2"  value="" style="float:right " readonly/>
      </div>
      <div class="col-sm-3 form-group float-btn">
        <button id="fgs_btn" type="button" class="btn btn-default">Gene Database</button>
      </div>
    </div>
    <div role="tabpanel" class="tabbable" style="clear:both;" >
     <ul id='myTa' class="nav nav-tabs  " role="tablist">
        <li role="presentation" class="active"><a href="#url" aria-controls="url" role="tab" data-toggle="tab">Data Url</a></li>
        <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload Data</a></li>
      </ul>
      <div id="myTabContent1" class="tab-content" style="margin-bottom:0px">
        <div role="tabpanel" class="tab-pane fade in active" id="url">
            <div class="row">
                <div class="form-group required col-sm-9">
                    <label class="control-label" for="args">Forward Read URL</label>
                    <input id="foward_url" type="text" class="form-control input-sm" name="args" placeholder="Forward Read URL" >
                </div>
            </div>
            <div class="row">
               <div class="form-group required col-sm-9">
                    <label class="control-label" for="args">Reverse Read URL</label>
                    <input id="reverse_url" type="text" class="form-control input-sm" name="args" placeholder="Reverse Read URL" >
                </div>
            </div>
            <button type="submit" id="form_submit" class="btn btn-default pull-right">Submit Sample</button>
           </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="upload">
            <form class="col-sm-12 form1" id="task_form_file" onsubmit="return task_submit_file();">
                <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-9">
                        <label class="control-label" for="args">Forward Read File</label>
                        <input type="file" class="form-control file-form-control input-sm" name="forward_file" placeholder="Forward Read File" >
                    </div>
                </div>
                <div class="row">
                   <div class="form-group required col-sm-9">
                        <label class="control-label" for="args">Reverse Read File</label>
                        <input type="file" class="form-control file-form-control input-sm" name="reverse_file" placeholder="Reverse Read File" >
                    </div>
                </div>
                <button type="submit" id="form_submit" class="btn btn-default pull-right">Submit Sample</button>
             </form>
          </div>
     </div>
  </div>
 </div> <!--End of metgenomic-->
 <div id="hide_amplicon">
    <form class="col-sm-12 form1" id="amplicon_form1" onsubmit="return false;">
      <div class="row">
        <div class="col-sm-4 form-group required">
          <label class="control-label" for="sample_name">Sample Name</label>
          <input id="sample_name" type="text" class="form-control input-sm" name="sample_name" placeholder="Name" >
        </div>
     </div>
    <div role="tabpanel" class="tabbable" style="clear:both;" >
     <ul id='myTa' class="nav nav-tabs  " role="tablist">
        <li role="presentation" class="active"><a href="#url1" aria-controls="url" role="tab" data-toggle="tab">Data Url</a></li>
        <li role="presentation"><a href="#upload1" aria-controls="upload" role="tab" data-toggle="tab">Upload Data</a></li>
      </ul>
      <div id="myTabContent2" class="tab-content" style="margin-bottom:0px">
        <div role="tabpanel" class="tab-pane fade in active" id="url1">
          <div class="row">
              <div class="form-group required col-sm-9">
                  <label class="control-label" for="args">Map File URL</label>
              </div>
          </div>
          <div class="row">
            <div class="controls form-inline col-sm-9">
                  <input id="map_url" type="text" class="form-control input-sm" name="args" placeholder="Map File URL" >
                  <button id="check_map_url" class="btn btn-default inline">Check Map File</button>
              </div>
          </div>
            <div class="row">
                <div class="form-group required col-sm-9">
                    <label class="control-label" for="args">Forward Read URL</label>
                    <input id="foward_url" type="text" class="form-control input-sm" name="args" placeholder="Forward Read URL" >
                </div>
            </div>
            <div class="row">
               <div class="form-group required col-sm-9">
                    <label class="control-label" for="args">Reverse Read URL</label>
                    <input id="reverse_url" type="text" class="form-control input-sm" name="args" placeholder="Reverse Read URL" >
                </div>
            </div>
            <button type="submit" id="form_submit" class="btn btn-default pull-right">Submit Sample</button>
           </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="upload1">
            <form class="col-sm-12 form1" id="task_form_file" onsubmit="return false;">
                <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-9">
                        <label class="control-label" for="args">Map File</label>
                    </div>
                </div>
                <div class="row">
                    <div class="controls form-inline col-sm-9">
                        <input id="map_file" type="file" class="form-control file-form-control input-sm" name="map_file" placeholder="Map File" >
                        <button id="check_map_file" class="btn btn-default">Check Map File</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-9">
                        <label class="control-label" for="args">Forward Read File</label>
                        <input type="file" class="form-control file-form-control input-sm" name="forward_file" placeholder="Forward Read File" >
                    </div>
                </div>
                <div class="row">
                   <div class="form-group required col-sm-9">
                        <label class="control-label" for="args">Reverse Read File</label>
                        <input type="file" class="form-control file-form-control input-sm" name="reverse_file" placeholder="Reverse Read File" >
                    </div>
                </div>
                <button type="submit" id="form_submit" class="btn btn-default pull-right">Submit Sample</button>
            </form>
        </div>
      </div>
    </div>
 </div> <!--End of amplicon-->
</div>
<div id="output">
  <h3>Sample Submitted</h3>
  <button id="newSample" type="button" class="btn btn-default" style="float:right;margin-right:20px;" disabled>Submit Another Sample</button>
  <div id="file-up" class="col-md-9">
    <h4>File Upload</h4>
    <div class="progress">
      <div class="bar"></div>
      <div class="percent">0%</div>
    </div>
  </div><div id="results" class="col-md-9" style="clear:both;"><div id="task_result"></div></div></div>
